{% extends "base.html.twig" %}

{% block body %}

	{% if employe is not defined %}
		<h1 class="text-center my-4 text-warning">Ajouter un employé dans l'annuaire</h1>
	{% else %}
		<h1 class="text-center my-4 text-warning">Modifier l'employé {{ employe.prenom }}</h1>
	{% endif %}

	{# from() est la fonction twig pour afficher un formulaire. il existe plusieurs façons de demander a twig d'afficher un formulaire #}
	<div class="row">
		<div class="col-6 mx-auto">
			{{form(form_employe)}}
			</div>
		</div>

	{% endblock %}
